:root {
    --cinza: #777;
    --rosa: rgb(175, 48, 80);
}


.login {
    background-color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 30vw;
    height: 45vh;
    border-radius: 5px;
    box-shadow: 0px 0px 15px var(--cinza);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form_h1 {
    margin-top: 1.8vh;
    font-size: 2vw;
}

input {
    padding: 3%;
    width: 20vw;
    margin-top: 5.8vh;
    border-radius: 7px;
    border: var(--cinza) 2px solid;
}



.form_btn {
    background-color: rgb(255, 184, 195);
    border-radius: 5px;
    border: none;
    padding: 2%;
    font-size: 1vw;
    margin-top: 6vh;
}

.form_btn:hover {
    background-color: var(--rosa);
    color: white;
    box-shadow: 0px 0px 10px var(--rosa);
}