footer {
    background-color: rgb(40, 15, 5);
    margin-top: auto;
    height: 10vh;
    width: 100vw;
    text-align: center;
    color: white;
}

footer>p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}